.p {
    color: red;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    color: #fff;
    font-size: 75px;
}

.span {
    color: #fff724;
    font-size: 75px;
}